<!-- Champs de saisie recherche films -->
<div class="blockSearch">
  <input #userInput (keyup)="searchOeuvresInput(userInput.value)" placeholder="Rechercher ..." class="form-control" type="text">
  <!--<input #texteOeuvreRecherche placeholder="Rechercher une oeuvre ..." class="form-control" type="text"> -->
</div>
<!-- Barre de filtres -->
<div class="filterBar m-3">

  <!-- Select Type -->
  <div class="btn-group m-3">
    <mat-form-field appearance="fill">
      <mat-label class = "eltOrange">Type</mat-label>
      <mat-select [(value)]="selectionType" (selectionChange)="searchOeuvresFilter()">
        <mat-option class = "eltBlanc" *ngFor="let type of types" [value]="type.libelle">
          {{type.libelle | titlecase }}
        </mat-option>

      </mat-select>
    </mat-form-field>
  </div>

  <!-- Select Statut -->
  <div class="btn-group m-3">
    <mat-form-field appearance="fill">
      <mat-label class = "eltOrange">Statut</mat-label>
      <mat-select [(value)]="selectionStatut" (selectionChange)="searchOeuvresFilter()">
        <mat-option class = "eltBlanc" [value]="-1">
          {{"Tous" | titlecase }}
        </mat-option>
        <mat-option class = "eltBlanc" *ngFor="let statut of statutService.statuts$ | async" [value]="statut.id">
          {{statut.libelle | titlecase }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <!-- Select Genre -->
    <div class="btn-group m-3">
      <mat-form-field appearance="fill">
        <mat-label class = "eltOrange">Genre</mat-label>
        <mat-select [(value)]="selectionGenre" (selectionChange)="searchOeuvresFilter()">
          <mat-option class = "eltBlanc" [value]="-1">
            {{"Tous" | titlecase }}
          </mat-option>
          <mat-option class = "eltBlanc" *ngFor="let genre of genreService.genres$ | async" [value]="genre.id">
            {{genre.libelle | titlecase }}
          </mat-option>
        </mat-select>
      </mat-form-field>
  </div>
</div>
